.delivery-details {
    padding: 2% 5%;
}

.delivery-details-text {
    padding: 10px;
    margin: 10px 0;

}

.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    row-gap: 20px;
}

.card {
    /* max-width: 90%;
    margin: auto; */
    margin-bottom: 11%;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px;
  
    
}

.card-header {
    height: 50px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: large;
    background-color: rgba(242, 43, 43, 0.6);
    border-radius: 0px !important;
}

.card-button {
    text-align: center;
    margin: 15px;

}

.card-submit-btn {
    width: 100%;
    background-color: #ff5155;
    border-color:#ff5155;
    color: white;
}

.card-text {
    color: #070707;
    font-weight: 500;
}

.card-body-details {
    display: flex;
    justify-content: space-between;
}

.card-group>.card:nth-child(3n+1) .card-header {
    background-color: rgba(228, 192, 65, 0.88);
}

.card-group>.card:nth-child(3n+2) .card-header {
    background-color: rgba(65, 150, 228, 0.88);
}

.card-group>.card:nth-child(3n+3) .card-header {
    background-color: rgba(242, 43, 43, 0.6);
}

.modal-body {
    margin: 2% 2%;
    font-size: medium;
    color: #747272;
    /* font-weight: 500; */
}

.modal-header {
    background-color: rgba(242, 43, 43, 0.6);
}

.card-phone {
    background: #f4f4f4;
    padding: 15px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: space-between;
}

.card-phone-links a {
    color: #ff484cc4;

}


@media (max-width: 991.98px) {
    .card-group {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card-text {
        font-size: larger;
    }

    .card-header {

        font-size: x-large;
    }

    .delivery-details {
        padding: 1% 10px;
    }

    .modal-dialog {
        max-width: 85%;
        margin: 10px auto;
    }

    .card-phone {
        background: #f4f4f4;
        padding: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        display: flex;
        justify-content: space-between;
    }

    .card-phone-links a {
        color: #ff484cc4;
        font-size: larger;
    }
}   
    .card-phone {
        background: #f4f4f4;
        padding: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        display: flex;
        justify-content: space-between;
    }

    .card-phone-links a {
        color: #ff484cc4;
        font-size: larger;
    }
}